    <div class="row">
        <div class="col-12">
            <img src="/images/esmartbin.png" width="50" style="float: left;">
            <h5>Welcome to eSmart solutions {{collectorName}}</h5>
        </div>
    </div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="row">
    <div class="col-12">
        <H1>This is the eSmart Collctors Screen</H1>
    </div>
</div>

{{!-- <div class="row">
    <div class="col-12">
        <h3>Please click here if you're a registered eSmart Collector</h3>
    </div>
</div> --}}

<div class="row">
    <div class="col-12">
        {{!-- <form action="/bins/full" method="GET">
            <label for="collectors">eSmart Collector:</label>
            <select name="collectorId" id="collectorId">
                {{#each collectors}}
                <option value="{{id}}">{{first_name}} {{last_name}}</option>
                {{/each}}
            </select>
            <br><br>
            <input type="submit" value="submit">
        </form> --}}
    </div>
</div>

<div class="row center">
    <div class="col-4"><a href="/bins/full/{{id}}"><button class="btn1"> Collect bins
            </button></a></div>

    <div class="col-4"><a href="/depot-landing-screen"><button class="btn1">
                Collected bins
            </button></a></div>

</div>

<div>

    <nav class="nav">
        <a href="#" class="nav__link">
            <i class="material-icons nav_icon">home</i>
            <span class="nav__text">Home</span>
        </a>
        <a href="/home-page-khuzwayo" class="nav__link active">
            <i class="material-icons nav_icon">notification_important</i>
            <span class="nav__text">Notifications</span>
        </a>
        <a href="/to-be-collected" class="nav__link">
            <i class="material-icons nav_icon">contact_support</i>
            <span class="nav__text">Support</span>
        </a>
        <a href="#" class="nav__link">
            <i class="material-icons nav_icon">manage_accounts</i>
            <span class="nav__text">Profile</span>
        </a>
        <a href="#" class="nav__link">
            <i class="material-icons nav_icon">menu_open</menu></i>
            <span class="nav__text">More options</span>
        </a>


    </nav>
</div>