<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css" rel="stylesheet" />
    <title>History || Deatils</title>

    <style>
        body {
            background-color: #52B788;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-12 center">
            <h2>Bins pick up datils for {{donorName}}</h2>
        </div>
    </div>

    <form action="/collecting/bins" method="POST">
        <div class="ui stackable four column grid center">
            {{#each bins}}
            <div class="column">
                <div class="block canter">

                    <p>Bin type: <strong>{{name}}</strong></p>
                    <img src="/images/esmartbin.png" width="80">
                    {{!-- <div class="ui checkbox">
                        <input type="checkbox" value="{{id}}" name="binTypes">
                        <label>Select bin</label>
                    </div> --}}
                    <p>Status: <strong>{{status}}</strong></p>
                    <input type="text" value="{{id}}" name="binTypes" hidden>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="col-12 center">
                <input type="text" name="collectorId" value="{{collectorId}}" hidden>
                <input type="text" name="donorId" value="{{donorId}}" hidden>
                {{!-- <button type="submit" class="ui button">
                    Collect
                </button> --}}
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12 center"><a href="/account/collector/{{collectorId}}"><button class="btn1"> Back
                    home</button></a></div>
    </div>
</body>

</html>